:root {
    --bgfrom  : #000428;
    --bgmid   : #00295d;
    --bgto    : #004e92;
    --bg      : #0e2b51;
    --bglight : #2a5998;
    --inactif : #5d7685;
    --prim   : #004e92;
    --fg      : #d0efff;
    --titre   : #4891fa;
    --sec     : #eeb;
    --warning : #e39e3f;
    --danger  : #dd46ad;
    --success : #2da823;
}
body{
    background: var(--bgfrom);
    background: linear-gradient(180deg, var(--bgfrom) 0%, var(--bgto) 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: var(--fg);
    margin: 0;
    min-height: 100vh;
}
h1, h2{
    padding-left: 1.3em;
}
.titleBar {
    background-color: var(--bgfrom);
}
.container {
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    max-width: 800px;
}
/* Barre donglets en haut de lécran */
.tabBar {
    background-color: var(--bgmid);
}
/* Affichage du jour */
.day{
    color: var(--sec);
    font-weight: bold;
    font-size: 24px;
    padding-top: 5px;
}
/* Affichage d'un horaire */
.horaireView{
}
.horaire{
    font-size: 24px;
    margin: 15px 0 0 2em;
    display: inline-block;
    color: var(--fg);
}
.horaireActif{
    border-bottom: 3px solid var(--danger);
}
.horaireNext{
    border-bottom: 3px solid var(--success);
}
/* Ecran infos */
.titre{
    color: var(--titre);
    font-size: 24px;
    font-weight: bold;
}
.text{
    color: var(--fg);
    font-size: 16px;
    padding: 10px;
}
.link{
    font-size: 16px;
    color: var(--titre);
}
/* Champs de saisie de texte */
input{
    background-color: #fff;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin: 6px;
    text-align: center;
}
button{
    border-radius: 5px;
}
.buttonText{
    text-align: center;
    color: var(--fg);
    font-size: 16px;
    padding: 5px;
}
.roundedButtonContainer{
    width: 30px;
    height: 30px;
}
.roundedButton{
    border-width: 0;
}
.roundedButtonText{
    font-weight: bold;
    font-size: 24px;
    color: var(--fg);
    text-align: center;
}
.roundedContainer{
    border: 2px solid var(--bglight);
    background-color: var(--bg);
    margin-top: 4px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.withSeparator{
    width: 100%;
    border-bottom: 2px solid var(--bg);
}
/* Tableaux */
.tableRow{
    flex-direction: row;
    align-items: center;
    padding: 2px;
}
.fixedText{
    color: var(--fg);
    font-family: Courier, sans-serif;
    font-size: 16px;
    padding: 0 5px;
}

.react-tabs{
    font-size: 18px;
}
.react-tabs__tab{
    background-color: var(--bgmid);
    color: #FFF;
    min-width: 200px;
    max-width: 500px;
    display: inline-block;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px 0;
    margin: 0;
    cursor:pointer;
}
.react-tabs__tab--selected{
    background-color: var(--bglight);
    font-weight: bold;
    color: #FFF;
}
.contenu{
    display:none;
    border: 2px solid var(--bgmid);
    padding: 5px;
    margin-top: -2px;
}
#cont-apropos{
    text-align: justify;
}
a, a:visited, a:hover{
    font-weight: bold;
    color: var(--bglight);
}
.separateur{
    border-bottom: 2px solid var(--bglight);
}
button{
    background-color: var(--prim);
    color: #FFF;
    padding: 5px 10px;
    border: none;
}
label{
    font-size: 18px;
    margin-left: 0.3em;
}
.timerange {
    border: 2px solid var(--bglight);
    background-color: var(--bg);
    border-radius: 10px;
    max-width: 600px;
    margin: 8px auto;
}
.timerange .head{
    background: linear-gradient(180deg, var(--bgmid) 0%, var(--bgto) 100%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
}
.timerange div {
    padding-top: 10px;
}
.flex-around{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: end;
}
.jours-semaine{
    color: var(--titre);
    font-size: 18px;
    cursor: pointer;
}
.jours-semaine .selected {
    border-bottom: 2px solid var(--danger);
    color: var(--fg);
    font-weight: bold;
    border-radius: 5px;
    padding: 0 0.5em;
}
.w-100 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}
.description{
    background-color: var(--bgmid);
    color: var(--fg);
    padding: 2px 0;
    font-weight: normal;
}
input.description::placeholder {
    opacity: 0.5;
    color: var(--inactif);
}
.timerange .icon {
    fill: var(--fg);
    width: 20px;
    margin: 5px;
}